# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
log.txt

# dotenv
.env

# sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
*.swp

# Producción/Build (si llegás a compilar algo)
dist/
build/

# Subidas locales
uploads/
